 
 
html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    background-image:url( "https://i.pinimg.com/1200x/2b/5f/43/2b5f43b39083af8dffc4b6f0dcebc4c8.jpg");
    
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    margin: 0;
    height: 100vh;
    overflow: hidden;
 }

.login-page {
    
  height: 100vh;
    /* full viewport height */
    /* background-image: url("https://i.pinimg.com/1200x/5f/fc/0c/5ffc0c75ef4b3c75006bd67241f5bfe0.jpg"); */
    background-image: url("https://i.pinimg.com/1200x/2b/5f/43/2b5f43b39083af8dffc4b6f0dcebc4c8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    color: white;
    margin: 0;
}

.login-card {
  

     
    background-color: rgba(33, 18, 3, 0.452);
  
    margin-left:350px;
    margin-top: 150px;
    height:700px;
    width:700px;
    font-size: 35px;
    border-radius: 30px;
  
}

.login-card h2 {
  font-size: 60px;
  margin-bottom: 30px;
  font-family: 'Cambria', serif;
  color: rgb(135, 66, 23);
 text-align: center;
}

.login-form input {
  
  margin-left:120px;
    font-size:35px;
    font-family:'Times New Roman', Times, serif;
    margin-top: 50px;
    border-radius: 30px;
    background: rgba(237, 231, 227, 0.6);
    color:rgb(240, 238, 236);
    padding:13px;
   outline:none;
    background-color: transparent;
     border:none; 
     border-bottom: 2px solid whitesmoke;

}

.login-form input::placeholder {
  color: #f1ece8f5;
}

.primary-btn {
  
  border-radius: 40px;
    padding:20px;
    font-size: 30px;
    color:rgb(248, 246, 245);
    background: rgb(135, 66, 23);
    margin-left:280px;
    margin-top:80px;
}

.primary-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.error-text {
  color: #ff6b6b;
  margin-top: 10px;
  font-weight: bold;
} 
